:host {

  ion-content {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../../assets/img/agriculture.jpg');
    background-repeat: no-repeat;
    background-size: 964.33px 812px;

    .logo {
      text-align: center;
      padding-top: 4vh;

      .logo_img {
        width: 120px;
        height: 200px;
      }
    }

    .form_register {
      background: #FFF;
      margin: 1% 4%;
      width: 92%;

      .title-form-register {
        color: #000000;
        font-size: 25px;
        font-weight: bold;
        line-height: 39px;
        text-align: center;
        margin-bottom: -0.3rem;
        padding-top: 6px;
      }

      ion-list {
        padding: 0 2%;

        ion-item {
          padding-top: 2rem;

          ion-input {
            font-weight: bold;
            font-size: 18px;
          }
        }
      }

      ion-button {
        font-size: 19px;
        font-weight: bold;
        line-height: 5.33px;

        button {
          padding: 10px 0;
          height: 50px;
        }
      }
    }

    .button_login {
      margin: 4% 4%;
      width: 92%;

      ion-button {
        font-size: 19px;
        font-weight: bold;
        line-height: 5.33px;
      }
    }
  }
}