// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/kanit-regular.ttf');
}

$font-family-base: "Kanit";

body {
  font-family: "Kanit" !important;
  font-weight: 300 !important;
}

*:not(.icon) {
  font-family: "Kanit" !important;
}

// edit input not work 
.native-input {
  position: relative;
  top: 6.5px;
  left: -5px;
  border: 0;
  outline: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}